name: Practice 1

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build
        run: echo "Building application"

  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Copy files to server
        run: echo "Deploying app"

